.applyComponent{
    font-family: 'Montserrat';
    padding: 1rem;
}

.applyComponent > p{
    font-size: 10pt;
    margin: 10px 0;
}

.applyComponent > p:nth-child(8){
    font-size: 9pt;
    opacity: 70%;
}