.subjectInputComponent{
    width: 100%;
    max-width: 400px;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0px;
    font-family: 'Roboto', sans-serif;
}

.subjectInputComponent > p{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    opacity: 70%;
    margin: 5px 0;
}