.commentComponent{
    width: 100%;
    max-width: 400px;
    height: 140px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.commentComponent > p{
    font-size: 10pt;
    text-align: left;
}

.commentComponent > input{
    height: 30px;
    width: 90%;
    padding: 2rem 1rem 2rem;
    border-radius: 5px;
    border: 1px solid gray;
}