.formInscriptionsInstructors{
    width: 100%;
    height: 250vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

.arrowIcon{
    position:absolute;
    color: rgb(0, 116, 17);
    top:30px;
    right:20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrowIcon:hover{
    transform: scale(1.1);
    transition:all 0.2s;
}

.informationSection{
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    height: 100%;
    padding: 1rem;
    margin: 0 1rem 1rem;
}