.formInscriptionsInstructors{
    width: 100%;
    height: 310vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

.arrowIcon{
    position:absolute;
    color: rgb(0, 116, 17);
    top:30px;
    right:20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrowIcon:hover{
    transform: scale(1.1);
    transition:all 0.2s;
}

.informationSection{
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    height: 100%;
    padding: 1rem;
    margin: 0 1rem 1rem;
}

.formInscriptionsInstructors > button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background: #306ba7;
    color: white;
    cursor: pointer;
    font-size: 12pt;
    font-family: 'PT Serif', serif;
    transition: all ease-in-out 0.3s;
    margin: 0 0 5px 0;
}

.formInscriptionsInstructors > button:hover{
    transform: scale(1.02);
    background: white;
    color: #306ba7;
    border: 1px solid #306ba7;
    transition: all ease-in-out 0.3s;
}