.warningComponent{
    border: 3px solid rgb(255, 35, 35);
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    width: 700px;
    height: 200px;
    position: relative;
    background-color: white;
}

.warningComponent > p{
    font-family: "https://fonts.googleapis.com/css2?family=Exo+2&display=swap";
    font-weight: bolder;
}

.warningComponent > ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.warningComponent > ul > li{
    font-family: "https://fonts.googleapis.com/css2?family=Exo+2&display=swap";
    margin: 0px;
    font-size: 10pt;
    text-align: left;
}