.warningComponent{
    margin: 0 0 10px;
    padding: 1.5rem;
    width: 100%;
    max-width: 768px;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    position: relative;
    background-color: white;
    border-radius: 0.75rem;
}

.warningComponent > h1{
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

.warningComponent > ul{
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;

    gap: 0.5rem;
}

.warningComponent > ul > li{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    text-align: left;
}