.requestViewContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 150vh;
    gap:1rem;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width:768px){
    .requestViewContainer{
        height: 225vh;
    }
}

.requestViewContainer > .editIcon{
    display:block;
}