.solicitantComponent{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
}

@media(max-width: 768px){
    .solicitantComponent{
        width: 100%;
    }
}


.solicitantComponent > p{
    margin: 5px 0px;
    font-size: 15pt;
}

@media(max-width:768px){
    .solicitantComponent > p{
        font-size: 13pt;
    }
}

.solicitantComponent > p:nth-child(2){
    font-size: 8pt;
    font-style: italic;
    opacity: 75%;
    margin: 10px 0px;
}

@media(max-width:768px){
    .solicitantComponent > p:nth-child(2){
        font-size: 8pt;
        margin: 10px 5px;
    }
}

.solicitantComponent > p:nth-child(6){
    font-size: 9pt;
    margin: 10px 0px 5px 0px;
    width: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    opacity: 85%;
    color: gray;
}

@media(max-width:768px){
    .solicitantComponent > p:nth-child(5){
        font-size: 8pt;
        width: 90%;
    }
}

.solicitantComponent > input{
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(176, 176, 176);
    padding: 5px;
    margin: 10px 0px;
    font-size: 9pt;
    font-style: italic;
}   

.solicitantComponent > button{
    width: 100px;
    height: 35px;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 12pt;
    border: none;
    background: #306ba7;
    color: white;
    cursor: pointer;
    font-family: 'PT Serif', serif;
    transition: all ease-in-out 0.3s;
}

.solicitantComponent > button:hover{
    transform: scale(1.02);
    background: white;
    color: #306ba7;
    border: 1px solid #306ba7;
}