.userInformation{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid #d5d5d5;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 0 0 0.5rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media(max-width:768px){
    .userInformation{
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

.userInformation > img{
    object-fit: cover;
    width: 25%;
    height: 100%;
}

@media(max-width:768px){
    .userInformation > img{
        width: 300px;
        height: 200px;
    }
}

@media(max-width:380px){
    .userInformation > img{
        width:100%;
        height: 100%;
    }
}

.personalInformation{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}

@media(max-width:768px){
    .personalInformation{
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

.personalInformation > section{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

@media(max-width:768px){
    .personalInformation > section{
        width: 100%;
    }
}

.personalInformation > section > p{
    margin:0;
    font-size: 0.8rem;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}