.registerComponentView{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    position: relative;
}

.arrowIcon{
    position:absolute;
    color: rgb(0, 116, 17);
    top:30px;
    right:20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrowIcon:hover{
    transform: scale(1.1);
    transition:all 0.2s;
}


@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.atomIcon{
    -webkit-animation: 10s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.atomIcon{
    width: 50px;
    height: 50px;
    margin: 0px;
}

.registerComponentView > p{
    color: rgb(0, 116, 17);
    font-family: 'PT Serif', serif;
    cursor:pointer;
    margin: 5px 0px;
}

.registerComponentView > p:hover{
    color:rgb(1, 77, 12);
    transition: all 0.2s;
}
